.cards {
  display: grid;
  grid-template-columns: 300px;
  align-items: center;
  justify-items: center;
  justify-content: center;
  gap: 45px;

  @media (min-width: 686px) {
    grid-template-columns: repeat(2, 300px);
  }

  @media (min-width: 1000px) {
    grid-template-columns: repeat(3, 300px);
  }
}
