.nav-menu {
  .options {
    .option {
      position: relative;
      top: 80px;

      @media (max-width: 686px) {
        top: 0;
      }
    }
  }
}

.text {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}
