.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

.loading-text {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 4rem;

  @media (max-width: 430px) {
    font-size: 2.5rem;
  }
}
